{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container">
    <div class="py-5 text-center col-sm-9">
        <h2>Retira Cliente</h2><br>
        <h3>(Vendedores)</h3>
    </div>


    <!----------------------DIV FORMULARIO------------------------------>
    <form class="needs-validation" novalidate method="POST">
        {% csrf_token %}
        <div class="row g-3 col-sm-9">

            <div class="col-sm-6">
                <small>Tomar los datos al cliente en la carpeta de pares pedidos para registro y seguimiento</small>
            </div>

            <h5><strong>{{user}}</strong></h5>
            <h5>Fecha: {{fechaahora}}</h5>

            <!----------------------Art a facturar------------------------------>
            <div class="col-sm-4">
                <label style="font-weight:bold" class="form-label">Articulo a facturar:</label>
                <input type="text" class="form-control" value="">
            </div>

            <div class="col-sm-4">
                <label style="font-weight:bold" class="form-label">.</label>
                <input type="text" class="form-control" value="">
            </div>

            <div class="col-sm-3"></div>


            <!----------------------Vendedor------------------------------>
            <div class="col-sm-4">
                <label style="font-weight:bold" class="form-label">Vendedor:</label>
                <input type="text" class="form-control" value="">
            </div>

            <!----------------------Suc pedido------------------------------>
            <div class="col-sm-4">
                <label style="font-weight:bold" class="form-label">Pedido a Sucursal:</label>
                <input type="number" min="0" class="form-control" value="">
            </div>
            <div class="col-sm-3"></div>



            <!----------------------Num doc------------------------------>
            <div class="col-sm-4">
                <label style="font-weight:bold" class="form-label">Nº de documento:</label>
                <input type="number" min="0" class="form-control" value="">
            </div>

            <!----------------------Suc donde retira------------------------------>
            <div class="col-sm-4">
                <label style="font-weight:bold" class="form-label">Retira en Sucursal:</label>
                <input type="number" min="0" class="form-control" value="">
            </div>


            <hr class="my-4">

            <button class="btn btn-success" onclick="window.print()">Imprimir</button>
    </form>

</div>
</div>




{% endblock %}