{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container">
    <div class="py-5 text-center col-sm-9">
        <h2>Venta o Cambio a Retirar</h2>
    </div>


    <!----------------------DIV FORMULARIO------------------------------>
    <form class="needs-validation" novalidate method="POST">
        {% csrf_token %}
        <div class="row g-3 col-sm-9">


            <h5><strong>{{user}}</strong></h5>
            <h5>Fecha: {{fechaahora}}</h5>


            <!----------------------Vendedor------------------------------>
            <div class="col-sm-4">
                <label style="font-weight:bold" class="form-label">Vendedor:</label>
                <input type="text" class="form-control" value="">
            </div>

            <!----------------------Transaccion------------------------------>
            <div class="col-sm-4">
                <label style="font-weight:bold" class="form-label">Transaccion:</label>
                <input type="number" min="0" class="form-control" value="">
            </div>
            <div class="col-sm-3"></div>

            <!----------------------Motivo------------------------------>
            <div class="col-sm-5">
                <label style="font-weight:bold" class="form-label">Motivo:</label>
                <input type="text" class="form-control" value="">
            </div>

            <!----------------------Cliente------------------------------>
            <div class="col-sm-3">
                <label style="font-weight:bold" class="form-label">Cliente:</label>
                <input type="text" class="form-control" value="">
            </div>
            <div class="col-sm-3"></div>


            <!----------------------Telefono------------------------------>
            <div class="col-sm-4">
                <label style="font-weight:bold" class="form-label">Telefono:</label>
                <input type="text" class="form-control" value="">
            </div>
            <div class="col-sm-3"></div>

            <!----------------------Comentario------------------------------>
            <div class="col-sm-9">
                <label style="font-weight:bold" class="form-label">Comentarios:</label>
                <textarea type="text" class="form-control" value=""></textarea>
            </div>
            <div class="col-sm-3"></div>


            <hr class="my-4">

            <button class="btn btn-success" onclick="window.print()">Imprimir</button>
    </form>

</div>
</div>




{% endblock %}