{% extends 'base.html' %}

{% block content %}

<br>
<center>
    <a href="{% url 'noticias' %}" class="btn btn-outline-primary">Regresar <i class="bi bi-arrow-return-left"></i></a>
</center>

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{noticias.Imagen.url}}"
                    alt="..." /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{noticias.Nombre}}</h1>
                <p class="lead">{{noticias.Descripcion}}</p>
                <p class="lead">{{noticias.Noticia}}</p>
                <div class="d-flex">
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}